<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/draw.js" type="text/javascript"></script>
</head>
<body onload="loadPage(0)">
    <a id="gotoConfig" class="a-nav" href="config.html">控制台</a>
    <div id="header">
        <h1 class="h1" id="drawTitle"></h1>
    </div>
    <div id="content">
        <div id="pageList" class="center">
            <table class="center">
                <tr id="firstRow">
                    <td><a href="1.html"><h3 class="h2 a-index">一等奖</h3></a></td>
                    <td><a href="2.html"><h3 class="h2 a-index">二等奖</h3></a></td>
                    <td><a href="3.html"><h3 class="h2 a-index">三等奖</h3></a></td>
                </tr>
                 <tr id="secondRow">
                    <td></td>
                    <td><a href="4.html"><h3 class="h2 a-index">特别奖</h3></a></td>
                    <td></td>
                </tr>
                 <!--<tr id="ThirdRow">-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td><a href="3.html"><h3 class="h2 a-index">三等奖</h3></a></td>-->
                <!--</tr>-->
            </table>
            <!--<table class="center">-->
                <!--<tr id="secondRow">-->
                    <!--<td><a href="4.html"><h3 class="h2 a-index">特别奖</h3></a></td>-->
                    <!--&lt;!&ndash;<td><a href="5.html"><h3 class="h2 a-index">特别奖（十抽）</h3></a></td>&ndash;&gt;-->
                <!--</tr>-->
            <!--</table>-->
        </div>
    </div>
</body>
</html>