<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/list.js" type="text/javascript"></script>
</head>
<body onload="loadPrizeList(4)">
    <a id="backHome" class="a-nav" href="index.html">返回首页</a>
    <a id="checkList" class="a-nav" href="4.html">返回抽奖页面</a>
    <div id="content" class="center">
        <h2 class="h2 center">特别奖 中奖名单</h2>
        <div id="forthPrizeList" class="center">
            <table id="forthPrizeListTable"></table>
        </div>
    </div>

</body>
</html>